@model ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
}

<h2>@ViewBag.Title</h2>
<p class="text-info">You have used an external account to login and you do not have a local usernam/password.
    Simply set a new password if you want to login using a local account. Use your email as your username.</p>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label class="col-form-label" asp-for="@Model.NewPassword"></label>
        <input class="form-control" asp-for="@Model.NewPassword" />
        <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="@Model.ConfirmNewPassword"></label>
        <input class="form-control" asp-for="@Model.ConfirmNewPassword" />
        <span asp-validation-for="@Model.ConfirmNewPassword" class="text-danger"></span>
    </div>
    <button class="btn btn-primary">Update</button>
</form>