@model ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
}

<h2>@ViewBag.Title</h2>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label class="col-form-label" asp-for="@Model.CurrentPassword"></label>
        <input class="form-control" asp-for="@Model.CurrentPassword" />
        <span asp-validation-for="@Model.CurrentPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="@Model.NewPassword"></label>
        <input class="form-control" asp-for="@Model.NewPassword" />
        <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="@Model.ConfirmNewPassword"></label>
        <input class="form-control" asp-for="@Model.ConfirmNewPassword" />
        <span asp-validation-for="@Model.ConfirmNewPassword" class="text-danger"></span>
    </div>
    <button class="btn btn-primary">Update</button>
</form>